extends layout
block content
    h1= title
    p#welcome Welcome to #{title}
    #loginContainer
        input#name(style='width:100px', placeholder="your name")
        input#register(type='button', value='register')
    #chatContainer(style='visibility: hidden')
        #content(style='width: 800px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            span Users Online:
            select#users(style='width:150px;')
                option (all)
            input#private(type='checkbox')
            span Private Message
            br
            input#field(style='width:350px;', placeholder="your message")
            input#send(type='button', value='send')